@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
.accordion .panel {
  border: none;
  border-radius: 0;
  margin: 0 !important; }
  .accordion .panel .panel-heading {
    border: none;
    background: none;
    padding: 10px 0; }
    .accordion .panel .panel-heading .panel-title {
      text-transform: uppercase;
      font-weight: 700; }
      .accordion .panel .panel-heading .panel-title a {
        font-size: 14px; }

.accordion-edit .panel {
  border: none;
  border-radius: 0;
  margin: 0 !important;
  box-shadow: none; }
  .accordion-edit .panel .panel-heading {
    border: none;
    background: none;
    padding: 10px; }
    .accordion-edit .panel .panel-heading:hover {
      background: #ddf0f7; }
      .accordion-edit .panel .panel-heading:hover span {
        display: inline-block !important; }
    .accordion-edit .panel .panel-heading .panel-title {
      text-transform: uppercase;
      font-weight: 700; }
      .accordion-edit .panel .panel-heading .panel-title span {
        float: right;
        display: none; }
      .accordion-edit .panel .panel-heading .panel-title a {
        font-size: 14px; }
.accordion-edit .wellb .panel-heading {
  padding: 0;
  background: none; }

.well {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125); }

header.header {
  margin-bottom: 30px; }

.dato {
  transition: 0.5s;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  .dato p, .dato h5 {
    margin: 0; }
  .dato h3 {
    border-top: 0;
    padding: 0;
    margin: 5px 0;
    font-weight: 600;
    color: #555; }
  .dato:hover {
    background: #efefef; }
    .dato:hover .actions {
      opacity: 1; }
  .dato .info {
    flex: 10; }
  .dato .actions {
    flex: 1;
    opacity: 0; }
    .dato .actions span {
      margin-right: 5px; }
      .dato .actions span:last-child {
        margin-right: 0px; }

.space-bottom {
  margin-bottom: 30px; }

form.filtros .form-group {
  margin-right: 15px; }
  form.filtros .form-group select {
    min-width: 150px; }

nav {
  padding: 10px 15px;
  display: flex;
  background: white;
  justify-content: space-between; }
  nav .brand img, nav .client-brand img {
    height: 40px; }
  nav .brand {
    position: relative; }
    nav .brand .change {
      position: absolute;
      background: white;
      top: 50px;
      padding: 10px 20px;
      left: 30px;
      min-width: 180px;
      border: 1px solid #bbb; }
      nav .brand .change:after {
        content: "";
        width: 10px;
        height: 10px;
        background: white;
        position: absolute;
        top: -3px;
        z-index: 100;
        transform: rotate(45deg) translateX(-50%);
        display: inline-block;
        left: 50%;
        margin-left: 0px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      nav .brand .change ul {
        list-style: none;
        padding: 0; }
        nav .brand .change ul li {
          padding: 8px 0; }
          nav .brand .change ul li img {
            max-width: 30px;
            margin-right: 10px;
            height: auto; }
  nav .user-nav {
    display: flex;
    align-items: center; }
    nav .user-nav .user {
      display: flex;
      align-items: center;
      margin-right: 10px;
      position: relative; }
      nav .user-nav .user img {
        max-width: 40px;
        margin-right: 10px; }
      nav .user-nav .user h4 {
        font-size: 13px;
        text-transform: uppercase; }
      nav .user-nav .user .label {
        font-weight: 300;
        font-size: 10px;
        margin: -4px 10px;
        padding: 3px; }
    nav .user-nav .notifications {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #dcdcdc;
      position: relative; }
    nav .user-nav .user-options, nav .user-nav .notifications-panel {
      position: absolute;
      background: white;
      top: 50px;
      padding: 10px 20px;
      left: 30px;
      border: 1px solid #bbb; }
      nav .user-nav .user-options:after, nav .user-nav .notifications-panel:after {
        content: "";
        width: 10px;
        height: 10px;
        background: white;
        position: absolute;
        top: -3px;
        z-index: 100;
        transform: rotate(45deg) translateX(-50%);
        display: inline-block;
        left: 50%;
        margin-left: 0px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      nav .user-nav .user-options ul, nav .user-nav .notifications-panel ul {
        list-style: none;
        padding: 0; }
        nav .user-nav .user-options ul li, nav .user-nav .notifications-panel ul li {
          padding: 10px 0; }
          nav .user-nav .user-options ul li .fa, nav .user-nav .notifications-panel ul li .fa {
            color: #ccc;
            margin-right: 10px; }
    nav .user-nav .user-options .company {
      overflow: hidden; }
      nav .user-nav .user-options .company li {
        margin: 2px 0;
        padding: 5px 0; }
        nav .user-nav .user-options .company li img {
          max-width: 30px; }
      nav .user-nav .user-options .company.close {
        height: 0; }
    nav .user-nav .notifications-panel {
      transform: translateX(-50%);
      left: 4px;
      top: 40px;
      padding: 2px;
      width: 300px;
      z-index: 999; }
      nav .user-nav .notifications-panel article {
        display: flex;
        z-index: 999;
        position: relative;
        padding: 5px; }
        nav .user-nav .notifications-panel article.well {
          border-radius: 0;
          border: none;
          box-shadow: none;
          background: #e7f9e4;
          margin-bottom: 2px; }
        nav .user-nav .notifications-panel article.admin {
          background: rgba(51, 122, 183, 0.2); }
        nav .user-nav .notifications-panel article .icon {
          width: 35px; }
        nav .user-nav .notifications-panel article .icon, nav .user-nav .notifications-panel article .text {
          margin: 5px; }
        nav .user-nav .notifications-panel article h5, nav .user-nav .notifications-panel article h6 {
          margin: 2px 0; }
        nav .user-nav .notifications-panel article h6 {
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 300; }
      nav .user-nav .notifications-panel hr {
        margin: 5px 0; }

.main-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }
  .main-menu ul li {
    margin: 5pxpx;
    background: #ddd;
    flex: 1;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .main-menu ul li ul {
      display: none; }

.main .graph .ref {
  list-style: none;
  padding: 0; }
  .main .graph .ref li {
    padding: 5px 0;
    border-bottom: 1px solid #dfdfdf; }
    .main .graph .ref li span {
      padding: 2px 4px;
      font-size: 11px;
      border-radius: 3px;
      background: #DB4949;
      color: white; }
    .main .graph .ref li:last-child {
      border: none; }

.table-ref .table {
  padding: 0; }
.table-ref ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  padding: 10px 5px;
  margin: 0;
  border-top: 1px solid #ededed;
  padding-left: 30px; }
  .table-ref ul li {
    flex: 2; }
    .table-ref ul li:first-child {
      flex: 7; }
    .table-ref ul li:last-child {
      flex: 1; }
    .table-ref ul li .options {
      position: relative; }
      .table-ref ul li .options .menu {
        position: absolute;
        padding: 5px 10px;
        z-index: 10;
        transform: translate(-50%);
        border-radius: 4px;
        top: 30px;
        min-width: 100px;
        background: white;
        border: 1px solid #dedede; }
        .table-ref ul li .options .menu:after {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          background: white;
          position: absolute;
          top: -3px;
          left: 50%;
          transform: rotate(45deg) translatex(-50%);
          border-top: 1px solid #dedede;
          border-left: 1px solid #dedede; }
        .table-ref ul li .options .menu ul {
          padding: 0;
          list-style: none;
          display: block;
          border: none; }
          .table-ref ul li .options .menu ul li {
            padding: 5px 0;
            background: white;
            display: block; }
  .table-ref ul.title {
    background: #DB4949;
    padding-left: 10px; }
    .table-ref ul.title li {
      font-weight: 300;
      font-size: 13px;
      text-transform: uppercase;
      color: white; }
  .table-ref ul.total {
    padding-left: 10px;
    background: #f4c9c9; }
  .table-ref ul.general {
    padding-left: 10px;
    background: #ddf0f7;
    border-top: 1px solid white; }

#detalle-guias header {
  margin-bottom: 30px; }
#detalle-guias .well {
  overflow: auto; }
#detalle-guias .add-field {
  color: #288AAD;
  float: right;
  margin-top: 10px; }
  #detalle-guias .add-field span {
    font-size: 18px;
    position: relative;
    top: 2px; }

#como header {
  margin-bottom: 30px; }
#como .grado {
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; }
  #como .grado:last-child {
    border: none; }
  #como .grado li {
    flex: 6;
    margin: 10px; }
    #como .grado li:first-child, #como .grado li:last-child {
      flex: 1;
      text-align: center; }
      #como .grado li:first-child .fa-cog, #como .grado li:last-child .fa-cog {
        margin-right: 10px; }
  #como .grado.title {
    font-weight: 700;
    text-transform: uppercase; }
#como .accordion h5 {
  margin-top: 20px;
  font-weight: 500; }

.wellb {
  background: #ededed; }

#liquidacion-profile header {
  background: #1e5799;
  background: -moz-linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
  background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  position: relative;
  padding: 30px 0;
  color: white;
  border: none;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
  #liquidacion-profile header .info {
    display: flex;
    align-items: center; }
    #liquidacion-profile header .info .photo {
      width: 120px;
      margin-right: 30px; }
  #liquidacion-profile header h1, #liquidacion-profile header h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0; }
  #liquidacion-profile header h2 {
    font-size: 14px; }
  #liquidacion-profile header p {
    margin: 5px 0; }
#liquidacion-profile .subheader {
  background: white;
  padding: 15px 0; }
  #liquidacion-profile .subheader ul.personal-info {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap; }
    #liquidacion-profile .subheader ul.personal-info li {
      flex: 1; }
      #liquidacion-profile .subheader ul.personal-info li strong {
        display: block; }
        #liquidacion-profile .subheader ul.personal-info li strong:after {
          display: block;
          content: "";
          width: 25px;
          height: 2px;
          background: #ccc;
          margin: 5px 0; }
#liquidacion-profile .contacto-menu {
  padding: 15px 0 10px 0;
  background: #288AAD;
  color: white; }
  #liquidacion-profile .contacto-menu .contacto {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; }
    #liquidacion-profile .contacto-menu .contacto li {
      flex: 1; }
      #liquidacion-profile .contacto-menu .contacto li span {
        margin-right: 3px;
        font-size: 15px; }
      #liquidacion-profile .contacto-menu .contacto li .redes {
        list-style: none;
        padding: 0; }
        #liquidacion-profile .contacto-menu .contacto li .redes li {
          display: inline-block;
          margin-right: 15px; }
          #liquidacion-profile .contacto-menu .contacto li .redes li span {
            display: inline-block;
            border-radius: 50%;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center; }
  #liquidacion-profile .contacto-menu hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px 0 10px 0; }
  #liquidacion-profile .contacto-menu .direccion span {
    margin-right: 3px;
    font-size: 15px; }
#liquidacion-profile .filtros {
  color: white;
  margin-bottom: 30px; }
  #liquidacion-profile .filtros .menu-filtros {
    background: #333;
    margin-bottom: 10px;
    height: 0;
    overflow: hidden; }
    #liquidacion-profile .filtros .menu-filtros ul {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0; }
      #liquidacion-profile .filtros .menu-filtros ul li {
        flex: 1;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase; }
#liquidacion-profile .list-info {
  padding: 0;
  list-style: none;
  margin: 0 15px; }
  #liquidacion-profile .list-info li {
    margin-bottom: 10px; }
    #liquidacion-profile .list-info li strong {
      margin-right: 5px; }
#liquidacion-profile .section-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px; }
#liquidacion-profile .well {
  border: none; }

.divider-bottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; }

.divider-top {
  padding-top: 15px;
  border-top: 1px solid #ddd;
  margin-top: 15px; }

#liquidacion-alta_profile .profile-pic {
  width: 200px;
  margin-bottom: 20px; }
#liquidacion-alta_profile h3, #liquidacion-alta_profile h4, #liquidacion-alta_profile h5 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: #288AAD;
  border-top: 10px solid #eee;
  padding-top: 15px;
  margin-top: 20px; }
#liquidacion-alta_profile h4 {
  font-size: 16px;
  border-top: 2px solid #eee; }
#liquidacion-alta_profile h5 {
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 0;
  margin: 10px 0 20px; }
#liquidacion-alta_profile .titulo-estudios {
  padding: 15px;
  border-bottom: 1px solid #dedede; }
#liquidacion-alta_profile .dato {
  transition: 0.5s;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  #liquidacion-alta_profile .dato p, #liquidacion-alta_profile .dato h5 {
    margin: 0; }
  #liquidacion-alta_profile .dato h3 {
    border-top: 0;
    padding: 0;
    margin: 5px 0;
    font-weight: 600;
    color: #555; }
  #liquidacion-alta_profile .dato:hover {
    background: #efefef; }
    #liquidacion-alta_profile .dato:hover .actions {
      opacity: 1; }
  #liquidacion-alta_profile .dato .info {
    flex: 10; }
  #liquidacion-alta_profile .dato .actions {
    flex: 1;
    opacity: 0; }
    #liquidacion-alta_profile .dato .actions span:first-child {
      margin-right: 15px; }
#liquidacion-alta_profile .add {
  margin-top: 20px; }
#liquidacion-alta_profile .lista-contacto {
  padding: 0; }

#matriz-de-valuacion th, #matriz-de-valuacion-alta th {
  width: 100px;
  text-align: right;
  background: #288AAD;
  color: white;
  font-weight: normal; }
#matriz-de-valuacion h4, #matriz-de-valuacion-alta h4 {
  color: #288AAD;
  text-transform: uppercase;
  display: inline-block; }
#matriz-de-valuacion .btn-edit, #matriz-de-valuacion-alta .btn-edit {
  float: right; }
#matriz-de-valuacion h5, #matriz-de-valuacion-alta h5 {
  margin: 20px 0; }
#matriz-de-valuacion .matriz, #matriz-de-valuacion-alta .matriz {
  overflow: hidden; }
#matriz-de-valuacion .title, #matriz-de-valuacion-alta .title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }
  #matriz-de-valuacion .title .actions, #matriz-de-valuacion-alta .title .actions {
    display: flex;
    align-items: center; }
    #matriz-de-valuacion .title .actions a, #matriz-de-valuacion-alta .title .actions a {
      margin-right: 10px; }
      #matriz-de-valuacion .title .actions a span, #matriz-de-valuacion-alta .title .actions a span {
        font-size: 20px; }
#matriz-de-valuacion .grado, #matriz-de-valuacion-alta .grado {
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; }
  #matriz-de-valuacion .grado:last-child, #matriz-de-valuacion-alta .grado:last-child {
    border: none; }
  #matriz-de-valuacion .grado li, #matriz-de-valuacion-alta .grado li {
    flex: 10;
    margin: 10px; }
    #matriz-de-valuacion .grado li:first-child, #matriz-de-valuacion .grado li:last-child, #matriz-de-valuacion-alta .grado li:first-child, #matriz-de-valuacion-alta .grado li:last-child {
      flex: 1;
      text-align: center; }
      #matriz-de-valuacion .grado li:first-child .fa-cog, #matriz-de-valuacion .grado li:last-child .fa-cog, #matriz-de-valuacion-alta .grado li:first-child .fa-cog, #matriz-de-valuacion-alta .grado li:last-child .fa-cog {
        margin-right: 10px; }
  #matriz-de-valuacion .grado.title, #matriz-de-valuacion-alta .grado.title {
    font-weight: 700;
    text-transform: uppercase; }

.custom .custom-menu ul {
  padding: 0;
  list-style: none; }
  .custom .custom-menu ul li {
    margin-bottom: 10px; }
    .custom .custom-menu ul li a {
      text-decoration: none;
      color: #333; }
.custom .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 0px; }
  .custom .title h4 {
    display: inline-block; }
  .custom .title .checkbox {
    float: right;
    text-transform: uppercase;
    font-size: 11px; }
    .custom .title .checkbox label {
      text-transform: uppercase;
      font-size: 11px; }
    .custom .title .checkbox .switch {
      top: 5px; }
.custom section {
  margin-bottom: 30px; }
  .custom section .list {
    display: flex;
    flex-wrap: wrap; }
    .custom section .list div {
      width: 33.333%;
      margin: 10px 0;
      padding-right: 15px; }
      .custom section .list div:last-child {
        margin-right: 0; }

.table-list .table {
  padding: 0;
  background: white; }
  .table-list .table ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    padding: 5px;
    margin: 0;
    border-top: 1px solid #ededed;
    transition: .5s; }
    .table-list .table ul:first-child {
      align-items: center; }
    .table-list .table ul li {
      flex: 2;
      padding: 3px;
      text-align: center; }
      .table-list .table ul li.large {
        flex: 5;
        text-align: left; }
      .table-list .table ul li p {
        margin: 0; }
        .table-list .table ul li p small {
          font-size: 10px;
          color: #aaa;
          margin-right: 3px; }
    .table-list .table ul.title {
      background: #DB4949;
      padding-left: 10px; }
      .table-list .table ul.title li p {
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: white; }
      .table-list .table ul.title li span {
        display: inline-block;
        margin-left: 10px; }
    .table-list .table ul.total {
      padding-left: 10px;
      background: #efefef !important;
      border-bottom: 1px solid #e0e0e0; }
    .table-list .table ul.general {
      padding-left: 10px;
      background: #ddf0f7;
      border-top: 1px solid white; }
    .table-list .table ul.level2 li:first-child p {
      padding-left: 30px; }
    .table-list .table ul.level3 li:first-child p {
      padding-left: 60px; }
  .table-list .table.with-options ul li:last-child {
    flex: 1; }
  .table-list .table.with-options ul li .options {
    position: relative; }
    .table-list .table.with-options ul li .options .menu {
      position: absolute;
      padding: 5px 10px;
      z-index: 10;
      transform: translate(-50%);
      border-radius: 4px;
      top: 30px;
      min-width: 100px;
      background: white;
      border: 1px solid #dedede; }
      .table-list .table.with-options ul li .options .menu:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: white;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: rotate(45deg) translatex(-50%);
        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede; }
      .table-list .table.with-options ul li .options .menu ul {
        padding: 0;
        list-style: none;
        display: block;
        border: none; }
        .table-list .table.with-options ul li .options .menu ul li {
          padding: 5px 0;
          background: white;
          display: block; }
  .table-list .table.select ul:not(.title):hover {
    background: #e1f5fe;
    cursor: pointer; }
.table-list.double {
  overflow-x: scroll; }
  .table-list.double .table {
    width: 200%; }

.table-matriz .table {
  padding: 0;
  background: white; }
  .table-matriz .table ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    padding: 5px;
    margin: 0;
    border-top: 1px solid #ededed;
    transition: .5s; }
    .table-matriz .table ul:first-child {
      align-items: center; }
    .table-matriz .table ul li {
      flex: 1;
      padding: 3px; }
      .table-matriz .table ul li.large {
        flex: 5;
        text-align: left; }
      .table-matriz .table ul li p {
        margin: 0; }
        .table-matriz .table ul li p small {
          font-size: 10px;
          color: #aaa;
          margin-right: 3px; }
      .table-matriz .table ul li .flex {
        display: flex;
        align-items: center; }
        .table-matriz .table ul li .flex h3, .table-matriz .table ul li .flex p {
          padding: 5px; }
        .table-matriz .table ul li .flex h3 {
          font-weight: 900;
          margin: 0;
          margin-right: 10px; }
      .table-matriz .table ul li .input-sm {
        height: 22px;
        line-height: 22px; }
    .table-matriz .table ul.color1 {
      background: #B4E3C8; }
    .table-matriz .table ul.color2 {
      background: #B5D3E7; }
    .table-matriz .table ul.color3 {
      background: #FAEAA9; }
    .table-matriz .table ul.color4 {
      background: #F7C1BB; }
    .table-matriz .table ul.title {
      background: #DB4949;
      padding-left: 10px; }
      .table-matriz .table ul.title li p {
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: white; }
      .table-matriz .table ul.title li span {
        display: inline-block;
        margin-left: 10px; }
    .table-matriz .table ul.total {
      padding-left: 10px;
      background: #efefef !important;
      border-bottom: 1px solid #e0e0e0; }
    .table-matriz .table ul.general {
      padding-left: 10px;
      background: #ddf0f7;
      border-top: 1px solid white; }
    .table-matriz .table ul.level2 li:first-child p {
      padding-left: 30px; }
    .table-matriz .table ul.level3 li:first-child p {
      padding-left: 60px; }
  .table-matriz .table.with-options ul li:last-child {
    flex: 1; }
  .table-matriz .table.with-options ul li .options {
    position: relative; }
    .table-matriz .table.with-options ul li .options .menu {
      position: absolute;
      padding: 5px 10px;
      z-index: 10;
      transform: translate(-50%);
      border-radius: 4px;
      top: 30px;
      min-width: 100px;
      background: white;
      border: 1px solid #dedede; }
      .table-matriz .table.with-options ul li .options .menu:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: white;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: rotate(45deg) translatex(-50%);
        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede; }
      .table-matriz .table.with-options ul li .options .menu ul {
        padding: 0;
        list-style: none;
        display: block;
        border: none; }
        .table-matriz .table.with-options ul li .options .menu ul li {
          padding: 5px 0;
          background: white;
          display: block; }
  .table-matriz .table.select ul:not(.title):hover {
    background: #e1f5fe;
    cursor: pointer; }
.table-matriz.double {
  overflow-x: scroll; }
  .table-matriz.double .table {
    width: 200%; }

.form-flex {
  display: flex;
  list-style: none;
  padding: 0; }
  .form-flex li {
    padding: 5px; }
    .form-flex li input {
      margin-top: 13px; }

.grados {
  margin: 0;
  padding: 0; }
  .grados ul {
    margin: 0;
    padding: 10px; }
    .grados ul:nth-child(1) {
      background: #FDF9C6; }
    .grados ul:nth-child(2) {
      background: #FFEDBE; }
    .grados ul:nth-child(3) {
      background: #FED9A1; }
    .grados ul:nth-child(4) {
      background: #F9DBBD; }
    .grados ul:nth-child(5) {
      background: #F7D3D6; }
    .grados ul:nth-child(6) {
      background: #F9BFB8; }
    .grados ul:nth-child(7) {
      background: #E3DBEC; }
    .grados ul:nth-child(8) {
      background: #FDF9C6; }
    .grados ul:nth-child(9) {
      background: #FDF9C6; }

nav#top-nav {
  z-index: 999; }
  nav#top-nav .user-options {
    z-index: 999; }

nav#left-nav {
  width: 300px;
  background: #2C3E50;
  position: fixed;
  height: 100%;
  z-index: 99999;
  transition: .5s;
  overflow: hidden; }
  nav#left-nav .menu {
    width: 300px; }
  nav#left-nav.min {
    width: 80px; }
  nav#left-nav .bug-cont {
    width: 100%;
    position: relative; }
    nav#left-nav .bug-cont .burger {
      position: absolute;
      right: -30px;
      background: #34495E;
      color: white;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }

main {
  margin-left: 100px; }

.space {
  margin: 20px 0; }

html, body {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif !important;
  background: #EFF4FA; }

p, li, input, label {
  font-size: 13px; }

.btn-primary {
  background: #288AAD;
  border: 1px solid #237998; }
  .btn-primary:hover {
    background: #237998;
    border: 1px solid #1e6984; }

.app {
  min-height: 100%; }
  .app .structure {
    display: flex;
    align-items: stretch;
    min-height: 100%; }
    .app .structure #left-nav {
      width: 40px;
      overflow: hidden;
      padding: 0;
      background: #4a4a4a;
      padding-top: 10px;
      position: relative;
      transition: .5s; }
      .app .structure #left-nav .burger {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FAFAFA;
        color: #4a4a4a;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5px; }
      .app .structure #left-nav ul {
        padding: 0;
        list-style: none;
        margin-top: 30px; }
        .app .structure #left-nav ul li {
          padding: 15px;
          border-bottom: 1px solid #5F5F4F;
          color: #F4F4F4;
          min-width: 240px;
          position: relative;
          text-transform: uppercase; }
          .app .structure #left-nav ul li span {
            margin-right: 15px; }
          .app .structure #left-nav ul li .submenu1 {
            height: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            padding-top: 10px; }
            .app .structure #left-nav ul li .submenu1 li {
              padding: 7px 0 7px 32px;
              border: none;
              color: cyan;
              text-transform: none; }
    .app .structure main {
      flex: 7; }
      .app .structure main header {
        background: url("../imagenes/carrera.jpg");
        background-size: cover;
        background-position: center;
        min-height: 150px; }
      .app .structure main h2 {
        text-transform: uppercase;
        font-weight: 300; }
      .app .structure main .panel {
        margin: 15px 0;
        background: none; }
        .app .structure main .panel .title {
          padding: 15px;
          border-bottom: 2px solid #fafafa; }
          .app .structure main .panel .title h3 {
            font-size: 16px;
            color: #4a4a4a;
            letter-spacing: -0.09px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
            display: inline-block; }
          .app .structure main .panel .title .options {
            float: right;
            color: #A4A4A4;
            position: relative; }
            .app .structure main .panel .title .options .menu {
              position: absolute;
              padding: 20px;
              z-index: 10;
              background: #4a4a4a;
              border: 1px solid #ddd;
              transform: translate(-50%);
              border-radius: 4px;
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
              top: 30px;
              min-width: 200px; }
              .app .structure main .panel .title .options .menu:after {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                background: #4a4a4a;
                position: absolute;
                top: -2px;
                left: 50%;
                transform: rotate(45deg) translatex(-50%); }
              .app .structure main .panel .title .options .menu ul {
                padding: 0;
                list-style: none; }
                .app .structure main .panel .title .options .menu ul li {
                  color: #4a4a4a;
                  padding: 5px 0;
                  color: white; }
        .app .structure main .panel .content {
          padding: 15px; }
          .app .structure main .panel .content h4, .app .structure main .panel .content h5, .app .structure main .panel .content h6 {
            text-transform: uppercase;
            font-weight: 700; }

.lateral-menu {
  background-color: #303B4C;
  min-width: 250px; }
  .lateral-menu ul {
    padding: 5px 0;
    list-style: none; }
    .lateral-menu ul li {
      color: #B0BFC4;
      padding: 8px 0;
      border-bottom: 1px solid #485a60; }
      .lateral-menu ul li.selected {
        color: #63BBD3; }
      .lateral-menu ul li strong {
        font-weight: 300;
        font-size: 14px; }
      .lateral-menu ul li ul {
        padding-left: 15px; }
        .lateral-menu ul li ul.close {
          height: 0;
          overflow: hidden; }
        .lateral-menu ul li ul li {
          text-transform: initial;
          border: none;
          font-size: 12px; }

.dash-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .dash-menu li {
    max-width: 200px;
    padding: 40px; }
    .dash-menu li article {
      text-align: center; }
      .dash-menu li article img {
        width: 120px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  top: 9px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.margintop20 {
  margin-top: 20px; }

/*# sourceMappingURL=style2.css.map */
