$main-font: "Roboto", sans-serif !important;
$text-color: #A4A4A4;
$bg-color: #4a4a4a;
$color1: #288AAD;
$color2: #DB4949;

$lateral-menu_bg: #303B4C;
$lateral-menu_color: #B0BFC4;
$lateral-menu_bg2: #2B3444;