#facilitador-dashboard{
	h4{
		text-transform: uppercase;
		font-weight: 900;
	}
	.stats{
		text-align: center;

		h5{
			text-transform: uppercase;
			font-weight: 700;
			margin: 0;
		}
		.big{
			display: block;
			font-size: 50px;
			line-height: 50px;
			font-weight: 900;
		}
	}


	.asistencia{
		padding-top: 30px;
		ul{
			display: flex;
			list-style: none;
			padding: 0;

			&.title{
				font-weight: bold;
			}

			li{
				flex: 1;
				text-align: center;
				&:first-child{
					flex: 4;
					text-align: left;
				}
			}
		}
	}

	.temario{
		padding-top: 30px;
		ul{
			display: flex;
			list-style: none;
			padding: 0;

			&.title{
				font-weight: bold;
			}

			li{
				flex: 1;
				&:last-child{
					flex: 4;
				}
			}
		}
	}
}