@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
html, body {
  height: 100%;
  font-family: Roboto;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 700; }

p {
  font-size: 13px; }

.btn-primary {
  padding: 8px 20px;
  border-radius: 3px;
  font-family: Raleway;
  border: none;
  background: #2089AF;
  transition: .5s;
  color: white; }
  .btn-primary:hover {
    background: #14566e;
    color: white; }
  .btn-primary.btn-sm {
    padding: 5px 17px; }

.btn-success {
  padding: 8px 20px;
  border-radius: 3px;
  font-family: Raleway;
  border: none;
  background: #7FBC3C;
  transition: .5s;
  color: white; }
  .btn-success:hover {
    background: #588229;
    color: white; }
  .btn-success.btn-sm {
    padding: 5px 17px; }

.btn-error {
  padding: 8px 20px;
  border-radius: 3px;
  font-family: Raleway;
  border: none;
  background: #F1453D;
  transition: .5s;
  color: white; }
  .btn-error:hover {
    background: #d2180f;
    color: white; }
  .btn-error.btn-sm {
    padding: 5px 17px; }

.btn-default {
  padding: 8px 20px;
  border-radius: 3px;
  font-family: Raleway;
  border: none;
  background: white;
  transition: .5s;
  color: #464646;
  border: 1px solid #464646; }
  .btn-default:hover {
    background: #d9d9d9;
    color: #464646; }
  .btn-default.btn-sm {
    padding: 5px 17px; }

.btn-warning {
  padding: 8px 20px;
  border-radius: 3px;
  font-family: Raleway;
  border: none;
  background: #FABF2C;
  transition: .5s;
  color: white; }
  .btn-warning:hover {
    background: #d49905;
    color: white; }
  .btn-warning.btn-sm {
    padding: 5px 17px; }

.has-error label {
  color: #F1453D; }
.has-error .form-control {
  border-color: #F1453D; }
.has-error .error {
  background: #F1453D;
  padding: 3px;
  border-radius: 2px;
  color: white;
  margin-bottom: 5px;
  font-size: 11px; }

.has-warning label {
  color: #FABF2C; }
.has-warning .form-control {
  border-color: #FABF2C; }
.has-warning .error {
  background: #FABF2C;
  padding: 3px;
  border-radius: 2px;
  color: white;
  margin-bottom: 5px;
  font-size: 11px; }

.has-success label {
  color: #7FBC3C; }
.has-success .form-control {
  border-color: #7FBC3C; }
.has-success .error {
  background: #7FBC3C;
  padding: 3px;
  border-radius: 2px;
  color: white;
  margin-bottom: 5px;
  font-size: 11px; }

nav {
  padding: 15px 0;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  nav .user-nav {
    color: #332233;
    display: flex;
    align-items: center; }
    nav .user-nav .user {
      display: flex;
      align-items: center;
      margin-right: 10px;
      position: relative; }
      nav .user-nav .user img {
        max-width: 40px;
        margin-right: 10px; }
      nav .user-nav .user h4 {
        font-size: 13px;
        text-transform: uppercase; }
      nav .user-nav .user .label {
        font-weight: 300;
        font-size: 10px;
        margin: -4px 10px;
        padding: 3px; }
    nav .user-nav .notifications {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #dcdcdc;
      position: relative; }
    nav .user-nav .user-options, nav .user-nav .notifications-panel {
      position: absolute;
      background: white;
      top: 50px;
      padding: 10px 20px;
      left: 30px;
      border: 1px solid #bbb;
      color: #333;
      opacity: 1;
      transition: 1s; }
      nav .user-nav .user-options:after, nav .user-nav .notifications-panel:after {
        content: "";
        width: 10px;
        height: 10px;
        background: white;
        position: absolute;
        top: -3px;
        z-index: 100;
        transform: rotate(45deg) translateX(-50%);
        display: inline-block;
        left: 50%;
        margin-left: 0px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      nav .user-nav .user-options ul, nav .user-nav .notifications-panel ul {
        list-style: none;
        padding: 0; }
        nav .user-nav .user-options ul li, nav .user-nav .notifications-panel ul li {
          padding: 10px 0; }
          nav .user-nav .user-options ul li .fa, nav .user-nav .notifications-panel ul li .fa {
            color: #ccc;
            margin-right: 10px; }
    nav .user-nav .user-options {
      text-align: left; }
      nav .user-nav .user-options .company {
        overflow: hidden; }
        nav .user-nav .user-options .company li {
          margin: 2px 0;
          padding: 5px 0; }
          nav .user-nav .user-options .company li img {
            max-width: 30px; }
        nav .user-nav .user-options .company.close {
          height: 0; }
    nav .user-nav .notifications-panel {
      transform: translateX(-50%);
      left: 4px;
      top: 40px;
      padding: 2px;
      width: 300px;
      z-index: 999; }
      nav .user-nav .notifications-panel article {
        display: flex;
        z-index: 999;
        position: relative;
        padding: 5px;
        text-align: left; }
        nav .user-nav .notifications-panel article.well {
          border-radius: 0;
          border: none;
          box-shadow: none;
          background: #e7f9e4;
          margin-bottom: 2px; }
        nav .user-nav .notifications-panel article.admin {
          background: rgba(51, 122, 183, 0.2); }
        nav .user-nav .notifications-panel article .icon {
          width: 35px; }
        nav .user-nav .notifications-panel article .icon, nav .user-nav .notifications-panel article .text {
          margin: 5px; }
        nav .user-nav .notifications-panel article h5, nav .user-nav .notifications-panel article h6 {
          margin: 2px 0; }
        nav .user-nav .notifications-panel article h6 {
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 300; }
      nav .user-nav .notifications-panel hr {
        margin: 5px 0; }

.estructura {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch; }
  .estructura .menu-lateral {
    height: 100%;
    flex: 1;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    bottom: 0;
    left: -250px;
    transition: .5s;
    z-index: 100;
    overflow-x: scroll;
    padding-top: 70px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303b4c+0,2d5f93+100 */
    background: #303b4c;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #303b4c 0%, #2d5f93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #303b4c 0%, #2d5f93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #303b4c 0%, #2d5f93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303b4c', endColorstr='#2d5f93',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    box-sizing: border-box; }
    .estructura .menu-lateral.stacked {
      left: 0; }
    .estructura .menu-lateral #stacked {
      color: white;
      display: inline-block;
      font-size: 22px;
      transition: .5s;
      opacity: 0;
      transform: rotate(60deg);
      margin-right: 10px; }
    .estructura .menu-lateral ul.menu {
      padding: 0; }
      .estructura .menu-lateral ul.menu li {
        margin: 5px 0;
        border-radius: 2px;
        display: block; }
        .estructura .menu-lateral ul.menu li:hover {
          cursor: pointer; }
        .estructura .menu-lateral ul.menu li div {
          display: flex;
          justify-content: space-between;
          color: white;
          padding: 10px; }
          .estructura .menu-lateral ul.menu li div p {
            margin: 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px; }
          .estructura .menu-lateral ul.menu li div span {
            font-size: 16px; }
        .estructura .menu-lateral ul.menu li.selected {
          background: rgba(255, 255, 255, 0.3); }
        .estructura .menu-lateral ul.menu li.submenu ul li {
          margin: 0; }
          .estructura .menu-lateral ul.menu li.submenu ul li div {
            padding: 5px 10px;
            font-size: 11px; }
        .estructura .menu-lateral ul.menu li.submenu.selected > div {
          background: rgba(255, 255, 255, 0.2); }
        .estructura .menu-lateral ul.menu li.submenu ul {
          list-style: none;
          padding: 0; }
          .estructura .menu-lateral ul.menu li.submenu ul li {
            padding: 0; }
            .estructura .menu-lateral ul.menu li.submenu ul li div {
              display: flex;
              justify-content: space-between; }
            .estructura .menu-lateral ul.menu li.submenu ul li.selected {
              background: none; }
              .estructura .menu-lateral ul.menu li.submenu ul li.selected div p {
                font-weight: 700; }
  .estructura main {
    flex: 1;
    position: absolute;
    z-index: 0;
    width: 100%;
    padding: 30px;
    margin-left: 50px;
    padding-top: 70px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    transition: 1s; }
    .estructura main.stacked {
      position: absolute;
      margin: 0;
      padding-left: 300px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  top: 9px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.hidden {
  display: none;
  opacity: 0; }

.error-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  transition: 1s; }
  .error-alert .alert {
    width: 250px;
    background: white;
    border-radius: 4px;
    padding: 0;
    border: none;
    overflow: hidden;
    padding-bottom: 20px; }
    .error-alert .alert header {
      background: #F1453D;
      text-align: center;
      padding: 30px 0; }
      .error-alert .alert header span {
        font-size: 50px;
        color: white; }
    .error-alert .alert .error-message {
      padding: 10px;
      text-align: center; }
      .error-alert .alert .error-message h3 {
        text-transform: uppercase;
        font-size: 16px; }
      .error-alert .alert .error-message h5 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 14px; }
    .error-alert .alert .btn {
      background: #F1453D;
      color: white; }

.success-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  transition: 1s; }
  .success-alert .alert {
    width: 250px;
    background: white;
    border-radius: 4px;
    padding: 0;
    border: none;
    overflow: hidden;
    padding-bottom: 20px; }
    .success-alert .alert header {
      background: #7FBC3C;
      text-align: center;
      padding: 30px 0; }
      .success-alert .alert header span {
        font-size: 50px;
        color: white; }
    .success-alert .alert .error-message {
      padding: 10px;
      text-align: center; }
      .success-alert .alert .error-message h3 {
        text-transform: uppercase;
        font-size: 16px; }
      .success-alert .alert .error-message h5 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 14px; }
    .success-alert .alert .btn {
      background: #7FBC3C;
      color: white; }

.warning-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  transition: 1s; }
  .warning-alert .alert {
    width: 250px;
    background: white;
    border-radius: 4px;
    padding: 0;
    border: none;
    overflow: hidden;
    padding-bottom: 20px; }
    .warning-alert .alert header {
      background: #FABF2C;
      text-align: center;
      padding: 30px 0; }
      .warning-alert .alert header span {
        font-size: 50px;
        color: white; }
    .warning-alert .alert .error-message {
      padding: 10px;
      text-align: center; }
      .warning-alert .alert .error-message h3 {
        text-transform: uppercase;
        font-size: 16px; }
      .warning-alert .alert .error-message h5 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 14px; }
    .warning-alert .alert .btn {
      background: #FABF2C;
      color: white; }

/*# sourceMappingURL=nl.css.map */
